body {
    background-color: #0b0d0c;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
	margin: 0; 
	font-family: "Arial", sans-serif; 
	overflow: hidden; 
} 
.main { 
	background: #222; 
	padding: 20px; 
	border-radius: 15px; 
	box-shadow: 0 8px 12px #f1f1f1; 
	backdrop-filter: blur(5px); 
	text-align: center; 
	animation: fadeIn 0.5s ease-in-out; 
} 
@keyframes fadeIn { 
	from { 
		opacity: 0; 
	} 
	to { 
		opacity: 1; 
	} 
} 
.title { 
	font-size: 36px; 
	color: #f1f1f1; 
} 
.subtitle { 
	margin-bottom: 10px; 
	font-size: 18px; 
	color: #09d765; 
} 
.select-category, 
.unit-select, 
.input { 
	padding: 12px; 
	font-size: 16px; 
	border: none; 
	background: rgba( 
		255, 
		255, 
		255, 
		0.4
	); 
	border-radius: 10px; 
} 
.arrow { 
	font-size: 20px; 
	color: #3494e6; 
} 
.convert-button { 
	padding: 12px 24px; 
	font-size: 16px; 
	background: #f86663; 
	color: #fff; 
	border: none; 
	border-radius: 10px; 
	cursor: pointer; 
	transition: background 0.3s; 
} 

.result { 
	background: rgba( 
		255, 
		255, 
		255, 
		0.3
	); 
	padding: 10px; 
	margin: 10px; 
	border-radius: 10px; 
	animation: fadeIn 0.5s ease-in-out; 
} 
.result p { 
	font-size: 18px; 
	color: rgb(0, 0, 0); 
} 
.conversion { 
	background: #09d765; 
	padding: 20px; 
	margin: 10px; 
	border-radius: 15px; 
	backdrop-filter: blur(5px); 
	transition: transform 0.3s, 
		box-shadow 0.3s; 
	animation: fadeIn 0.5s ease-in-out; 
} 
.conversion:hover { 
	transform: scale(1.03); 
	box-shadow: 0 10px 16px
		rgba(0, 0, 0, 0.25); 
}
